/*** GLOBAL VARIABLES ***/
:root {
    --color-curious-blue: #1992d4;
    --color-fuel-yellow: #f0b429;
    --color-catskill-white: #e2e8f0;
}

/*** GLOBAL SELECTORS***/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

.layout {
    display: grid;
    height: 100vh;
    grid-template: repeat(5, 1fr) / 1fr 5fr;
}

/******* REUSABLE SELECTORS *********/
.nav__section li, button , a {
    cursor: pointer;
}

div[class*='img-wrapper']{
    background-color: var(--color-catskill-white);
    border-radius: 50%;
}
.img-wrapper--sml{
    width: 45px;
    height: 45px;
}

.img-wrapper--med{
    width: 70px;
    height: 70px;
}

/********** SIDEBAR **********/
.sidebar {
    display: grid;
    grid-area: 1 / 1 / 6 / 2;
    gap: 70px 15px;
    padding: 20px 25px;
    align-content: flex-start;
    background-color: var(--color-curious-blue);
    font-weight: 600;
    color: #fff;
    z-index: 50;
}

/***** LOGO *****/
.logo-wrapper {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    align-items: center;
    justify-content: flex-start;
    font-size: clamp(1rem, 1.4vw, 2rem);
}

.logo {
    display: grid;
    gap: 4px;
    width: 40px;
    height: 45px;
    grid-template-areas: repeat(3, 1fr) / 1fr 1fr;
}

.logo * {
    background-color: #fff;
}
.logo *:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}
.logo *:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}
.logo *:nth-child(3) {
    grid-area: 3 / 1 / 4 / 2;
}
.logo *:nth-child(4) {
    grid-area: 2 / 2 / 4 / 3;
}

/***** NAV *****/
.nav__section {
    display: grid;
    gap: 15px;
    font-size: clamp(1rem, 1.1vw, 2rem);
}

/********** HEADER **********/
.header {
    display: grid;
    align-content: space-between ;
    padding: 25px 40px 18px 45px;
    grid-area: 1 / 2 / 2 / 3;
    background-color: #fff;
    z-index: 40;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
.header__upper{
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
}
.searchbar{
    grid-column: 1/ 2;
    width: min(700px, 95%);
}
.searchbar-wrapper{
    height: 27px;
    background-color: var(--color-catskill-white);
    border-radius: 20px;
}
.searchbar-wrapper:focus-within{
    border: 2px solid var(--color-curious-blue);     
}
.searchbar__input{
    border: 0;
    background: transparent;
    margin: 0 0 0 10px;
    height: 100%;
    width: calc(100% - 10px);
    outline: none;

}
.user__notifier{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}
.user__notifier__name {
    font-size: clamp(1rem , 1.1vw, 2rem);
}
.header__lower{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}
.user__profile{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px 18px;
}
.user__profile__intro {
    display: grid;
    gap: 7px;
    align-items: center;
}
.user__profile__name {
    font-size: clamp(1.2rem, 1.4vw, 2.2rem);
}
.user__options {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    gap: 30px;
}
.user__options button{
    background-color: var(--color-curious-blue);
    border-radius: 23px;
    border: none;
    color: #fff;
    padding: 10px 30px;
    font-size: clamp(1rem, .1vw, 1.8rem);
}
/****** MAIN ******/
.main {
    display: grid;
    grid-template: repeat(2, 1fr) / 3fr 1fr;
    grid-area: 2 / 2 / 6 / 3;
    gap: 5px;
    padding: 28px 15px;
    background-color: var(--color-catskill-white);
}

.dashboard__label{
    font-size: clamp(1rem, 1.1vw, 2rem);
    font-weight: 500;
}

.project-list{
    display: grid;
    grid-template: repeat(auto-fit, minmax(300px, 1fr)) 
    / repeat(auto-fit, minmax(500px, 1fr));
    grid-area: 1 / 1 / 3 / 4;
    border: 1px solid black;
    gap: 24px;
}

.project__card{
    height: inherit;
    width: inherit;
    background-color: #fff;
    border-radius: 8px;
    box-shadow:inset -10px 0px 0px 10px var(--color-fuel-yellow);
}